html,
body {
  min-width: 100%;
  min-height: 100vh;
}
.App {
  background-color: #efedf3;
  min-height: 100vh;
  overflow: hidden;
  /* position: relative; */
}
input::placeholder {
  color: rgb(5, 5, 5);
}

.app-container {
  display: flex;
  width: 100%;
}

/* ScrollBar Stylings*/
HEAD ::-webkit-scrollbar {
  width: 10px;
}
